In [5]:

class Solution:
     def reverseWord(self, str: str) -> str:
        return str[::-1]
s = Solution()
str = s.reverseWord("Geeks")
print(str)

skeeG

In [3]:
s="Geeks"

In [4]:
print(s[::-1])

skeeG

In [17]:
class Solution:
    def duplicates(self, arr, n):
        if arr == set(m):
            return arr,n
        else:
            return -1
    	    

m = {1,2,3,4}
n = 4
s = Solution()
f = s.duplicates(m,n)
print(f)

({1, 2, 3, 4}, 4)

In [19]:
class Solution:
    def duplicates(self, arr, n=None):
        if n is None:
            n = len(arr)

        if arr == set(range(1, n + 1)):
            return -1
        else:
            return arr

m = {1, 2, 3, 4,1}
s = Solution()
result = s.duplicates(m)
print(result)

-1

In [ ]:
class Solution:
    def reverseWord(self, s: str) -> str:
        return s[::-1]

# Creating an instance of the Solution class
sol = Solution()

# Calling the reverseWord method on the instance
str_reversed = sol.reverseWord("Geeks")
print(str_reversed)

In [30]:
emp_info = {"name":"sai","designation":"Data scientist"}

In [34]:
class Emp:
    def __init__(self,record:dict):
        
        for attr_name,values in record.items():
            setattr(self,attr_name,values)
        
    @classmethod
    def get_object(cls,record):
        return Emp(record)

In [35]:
emp = Emp.get_object(emp_info)

In [36]:
emp.name

'sai'

In [37]:
emp.age = 30

In [38]:
emp.age

30

In [39]:
emp.state

AttributeError: 'Emp' object has no attribute 'state'

In [40]:
emp.state = "Karnataka"

In [41]:
emp.state

'Karnataka'

In [44]:
emp.designation

'Data scientist'

In [50]:
class Sensor:
    def __init__(self,):
        self.sensor1 = 3
        self.sensor = 4
    def to_dict(self,):
        return self.__dict__

In [57]:
s = Sensor()

In [58]:
s.to_dict()

{'sensor1': 3, 'sensor': 4}

In [59]:
s.__dict__

{'sensor1': 3, 'sensor': 4}

In [61]:
class ACSensor:
    def __init__(self,temp_s,humd_s,flow_s):
        self.temp_s = temp_s
        self.humd_s = humd_s
        self.flow_s = flow_s
    def to_dict(self,):
        return self.__dict__

In [63]:
ac = ACSensor(temp_s =10,humd_s = 3, flow_s = 2)

In [64]:
ac

In [66]:
ac.to_dict()

{'temp_s': 10, 'humd_s': 3, 'flow_s': 2}

In [107]:
emp = {"name":["sai","Ram"],"designation":["Data scientist","Data Scientist"]}

In [108]:
import pandas as pd

In [109]:
df = pd.DataFrame(emp)

In [110]:
df

  name     designation
0  sai  Data scientist
1  Ram  Data Scientist

In [111]:
columns = df.columns

In [112]:
columns

Index(['name', 'designation'], dtype='object')

In [113]:
for i in df.values:
    print(i)

['sai' 'Data scientist']
['Ram' 'Data Scientist']

In [116]:
i

array(['Ram', 'Data Scientist'], dtype=object)

In [115]:
dict(zip(columns,i))

{'name': 'Ram', 'designation': 'Data Scientist'}

In [ ]:
## We have dict and we are getting object

In [122]:
for i in df.values:
    record = (dict(zip(columns,i))) ## created dict
    print(record)
    s=Emp.get_object(record) ## created object 
    print(s)
    print(s.__dict__)## created dict from object

{'name': 'sai', 'designation': 'Data scientist'}
<__main__.Emp object at 0x00000293C7243590>
{'name': 'sai', 'designation': 'Data scientist'}
{'name': 'Ram', 'designation': 'Data Scientist'}
<__main__.Emp object at 0x00000293C7260FD0>
{'name': 'Ram', 'designation': 'Data Scientist'}

In [ ]:
yield & return
yield -->
return -->

In [123]:
print(2 * 3 ** 3 % 7)

5

In [124]:
2var = 1
print(2var)

SyntaxError: invalid decimal literal (2265958973.py, line 1)

In [125]:
_var = 3
print(_var)

3

In [126]:
print(2//3)

0

In [127]:
print(3*1**3)

3

In [128]:
print(10/2)

5.0

In [130]:
 x = 5 
print(x > 3 and x < 10)

True

In [132]:
x = 10
x += 5

In [133]:
print(x)

15

In [135]:
str = 'Python Interview' 
print(str[::-1])

weivretnI nohtyP

In [136]:
x = 7 ** 2
print(x)

49

In [137]:
original_string = "Hello, World!"
reversed_string = ''
for char in original_string:
    reversed_string = char + reversed_string
print(reversed_string)

!dlroW ,olleH

In [155]:
class Car:
    pass

In [156]:
audi = car()

In [157]:
audi.millage = 10
audi.year = 2023
audi.make = audiq7
audi

In [158]:
audi.millage

10

In [159]:
millage

NameError: name 'millage' is not defined

In [162]:
nana = car()

In [164]:
nana.millage = 20
nana.model = "xyz"
nana.year = 2025
nana.enginenumber = 123456
nana.make = "nano"

In [165]:
nana.millage

20

In [166]:
audi.millage

10

In [175]:
class car:
    def __init__(self,millage,year,make,model):
        self.millage = millage
        self.year = year
        self.make = make
        self.model = model
    def access_varibale(self):
        return self.millage,self.year,self.make,self.model
audi = car(10,2025,"audiq7",123456)
b = audi.access_varibale()
print(b)

(10, 2025, 'audiq7', 123456)

In [189]:
class car:
    def __init__(self,millage,year,make,model):
        self.millage = millage
        self.year = year
        self.make = make
        self.model = model

In [190]:
nano = car(20,2023,"nano37",34567)
audi7 = car(40,2024,"audi47",9867)

In [191]:
nano.millage

20

In [192]:
audi7.millage

40

In [209]:
class car:
    def __init__(a,m,y,ma,mo):
        a.millage = m
        a.year = y
        a.make = ma
        a.model = mo
    def age(self,current_year):
        return current_year - a.year

In [210]:
n = car(20,2023,"nan",1223)

In [211]:
n.millage

20

In [212]:
n.m

AttributeError: 'car' object has no attribute 'm'

In [214]:
n.age

In [216]:
n.age(2021)

-4

In [253]:
class car:
    def __init__(a,m,y,ma,mo):
        a.millage = m
        a.year = y
        a.make = ma
        a.model = mo
    def age(b,current_year):
        return current_year - b.year
    def milage(self):
        print("milage of the car",self.millage)
    def __str__(b):
        return "this is my car class i have created"
#         print("this is my car class i have created")

In [254]:
audi = car(20,2021,"nan",1223)

In [255]:
audi.age(2024)

3

In [256]:
audi.milage()

milage of the car 20

In [257]:
print(audi)

this is my car class i have created

In [39]:
class student:
    def __init__(self,name,roll_number,joining_date,current_topic):
        self.name = name
        self.roll_number = roll_number
        self.joining_date = joining_date
        self.current_topic = current_topic
    def currt_topic(self):
        print("current topic in my class is",  self.current_topic)
    
    def name_phrase(self):
        if type(self.name)==list:
            for i in self.name:
                print("name of the student",i)
        else:
            print("provided name is not in the form of list")
    def str_rollno(self):
        try:
            if type(self.roll_number)==str:
                print("do nothing")
            else:
                return str(self.roll_number) 
        except Exception as e:
            print("this is my err message",e)
    def duration(self,current_date):
        print("duration of the class in my class is", current_date - self.joining_date)
    def __str__(self):
        return "this is the student class where they can try get input there own data"

In [40]:
sara = student("sara","###",2021,"opps")

In [41]:
sara.currt_topic()

current topic in my class is opps

In [42]:
print(sara)

this is the student class where they can try get input there own data

In [43]:
sara.duration(2024)

duration of the class in my class is 3

In [44]:
sara.str_rollno()

do nothing

In [46]:
mega = student(["jack","johan","jeenu"],[23,34,24,35],2021,"oops")

In [47]:
mega.name_phrase()

name of the student jack
name of the student johan
name of the student jeenu

In [48]:
mega.str_rollno()

'[23, 34, 24, 35]'

In [49]:
##outside a class
mega.name

['jack', 'johan', 'jeenu']

In [8]:
class data:
    def __init__(self,filename,filetype,date,size):
        self.filename = filename
        self.filetype = filetype
        self.date = date
        self.size = size
    def file_open(self):
        f =  open(self.filename, 'w')
        f.write("Hello, this is a sample text.\n")
        f.close()
    def file_read(self):
        f = open(self.filename,"r")
        print(f.read())
        f.close()
    def file_append(self):
        f = open(self.filename,'a')
        f.write("i am appending another line sentence")
        f.close()

In [9]:
s = data("anu","txt","12-03-2024","10mb")

In [10]:
s.file_open()

In [11]:
s.file_read()

Hello, this is a sample text.

In [12]:
s.file_append()

In [ ]:
## class object exception handling and logging

In [50]:
import logging as lg

lg.basicConfig(filename='OOPS.log', level=lg.ERROR)

class data:
    def __init__(self,filename,filetype,date,size):
        self.filename = filename
        self.filetype = filetype
        self.date = date
        self.size = size
    def file_open(self):
        try:
            with open(f"{self.filename}_{self.filetype}", 'w') as file:
                file.write("Hello, this is a sample text file \n")
        except IOError as e:
            self.logging(e)    
       
    def file_read(self):
        try:
            with open(f"{self.filename}_{self.filetype}",'r') as file:
                return file.read()
        except FileNotFoundError as e:
            self.logging(e)
        except Exception as e:
            self.logging(e)
    def file_append(self, data):
        try:
            with open(f"{self.filename}_{self.filetype}", 'a') as file:
                file.write(data)
        except FileNotFoundError as e:
            self.logging(e)
        except Exception as e:
            self.logging(e)
    def logging(self,log):
        lg.error(log)

s = data('gerry', '.txt', '13-03-2024', '10mb')
s.file_open()
file_content = s.file_read()
print("File content after opening:", file_content)
s.file_append("new line added in gerry file")
file_content_after_append = s.file_read()
print("File content after appending:", file_content_after_append)
s.logging("Hello gerry")

File content after opening: Hello, this is a sample text file

File content after appending: Hello, this is a sample text file
new line added in gerry file

In [43]:
import logging as lg

lg.basicConfig(filename='OOPS.log', level=lg.ERROR)

class Data:
    def __init__(self, fileName, fileType, date, size):
        self.fileName = fileName
        self.fileType = fileType
        self.date = date  # Changed from 'data' to 'date'
        self.size = size


    def File_open(self):
        try:
            with open(f"{self.fileName}_{self.fileType}", 'w') as f:
                # Concatenate the date before calling write
                content_to_write = f"this is my first file - {self.date}"
                f.write(content_to_write)
        except Exception as e:
            self.logging(e)
            
    def File_read(self):
        try:
            with open(f"{self.fileName}_{self.fileType}", 'r') as f:
                return f.read()  # Return the read content
        except FileNotFoundError as e:
            self.logging(e)
        except Exception as e:
            self.logging(e)
    
    def File_append(self, data):
        try:
            with open(f"{self.fileName}_{self.fileType}", 'a') as f:
                f.write(data)
        except FileNotFoundError as e:
            self.logging(e)
        except Exception as e:
            self.logging(e)
    
    def logging(self, log):
        lg.error(log) 

# Example usage
d = Data('m', '.txt', '2022-01-01', 2)
d.File_open()
d.File_append(' new line')
read_content = d.File_read()
print("File content:", read_content)

File content: this is my first file - 2022-01-01 new line

#ABSTRACTION --> Protecting varible, method from some one
_(single underscore) --> protected
__(double underscore) --> private
No underscore --> public

In [53]:
class test:
    def __init__(self,a,b,c,d):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
    def test_custom(self,v):
        return v - self.a
    def __str__(self):
        return "This is my test code for abstraction"
m = test(4,5,6,7)
s=m.test_custom(8)
print(s)
print(m)

4
This is my test code for abstraction

## protected

In [64]:
class test:
    def __init__(self,a,b,c,d):
        self._a = a
        self.b = b
        self.c = c
        self.d = d
    def test_custom(self,v):
        return v - self._a
    def __str__(self):
        return "This is my test code for abstraction"
m = test(4,5,6,7)
s=m.test_custom(6)
print(s)
print(m)

2
This is my test code for abstraction

In [65]:
m._a

4

## private

In [66]:
class test:
    def __init__(self,a,b,c,d):
        self.__a = a
        self.b = b
        self.c = c
        self.d = d
    def test_custom(self,v):
        return v - self.__a
    def __str__(self):
        return "This is my test code for abstraction"

In [67]:
m = test(4,5,6,7)

In [68]:
m.test_custom(5)

1

In [69]:
m.__a

AttributeError: 'test' object has no attribute '__a'

In [63]:
m._test__a

4

In [71]:
class test1(test):
    def __init__(self,j,*args):
        super(test1,self).__init__(*args)
        self.j = j
k = test1(34,6,7,89,5)
k.j

34

In [73]:
k.test_custom(10)

4

In [74]:
k.d

5

In [158]:
class test:
    def __init__(self,k,l,m,n):
        self.k = k
        self.l = l
        self.m = m
        self.n = n
    def a(self):
        return "this is test calss"
    
b = test(2,3,4,5)

In [159]:
b.l

3

In [160]:
b.a()

'this is test calss'

In [161]:
class test1:
    def __init__(self,p,q,r,s):
        self.p = p
        self.q = q
        self.r = r
        self.s = s
    def a(self):
        return "this is test1 class"
k = test1(23,34,56,78)

In [162]:
k.p

23

In [163]:
k.a()

'this is test1 class'

In [151]:
class test2(test, test1):
    def __init__(self,s,*args):
        test.a(self)
        test1.a(self)
        self.s = s

In [168]:
class test2(test, test1):
    def __init__(self,d,*args):
        test.a(self)
        test1.a(self)
        self.d = d

In [169]:
q = test2(45,56,78,56)

In [171]:
q.d

45

In [172]:
q.p

AttributeError: 'test2' object has no attribute 'p'

In [155]:
class test:
    
    def a(self):
        print('function a from class test')

class test1:
    def a(self):
        print('function a from class test1')

class test2():
    def a(self):
        test.a(self)
        test1.a(self)
        
t = test2()
t.a()

function a from class test
function a from class test1

In [215]:
class company:
    address = "xyz"
    name = "abc"
    
    def contact(self):
        print("Contact us at", self.address)

class datascience(company):
    def __init__(self):
        self.year_establishment = 2018
    
    def comp_est(self):
        print('{0} company established in {1}'.format(company.name, self.year_establishment))

a = datascience()
a.comp_est()

abc company established in 2018

In [ ]:
##encapsulation --> Hinding the implementation

In [182]:
import re

x = "Moahn Babu"

x = re.sub(r'\s', '_', x)

print(x)

Moahn_Babu

In [13]:
class ComplexNumber:
    def __init__(self,real,imag):
        self.real = real  
        self.imag = imag
    def __add__(self,other):
        print(" I am a plus operator and I do nothing else")
        ans = self.real + self.imag
        return f"{ans}"

In [14]:
k = ComplexNumber(4,5)

In [16]:
k.imag

5

In [17]:
k.real

4

In [18]:
n = ComplexNumber(6,8)

In [19]:
print(k+n)

 I am a plus operator and I do nothing else
9