In [5]:

class Solution:
     def reverseWord(self, str: str) -> str:
        return str[::-1]
s = Solution()
str = s.reverseWord("Geeks")
print(str)

skeeG

In [3]:
s="Geeks"

In [4]:
print(s[::-1])

skeeG

In [17]:
class Solution:
    def duplicates(self, arr, n):
        if arr == set(m):
            return arr,n
        else:
            return -1
    	    

m = {1,2,3,4}
n = 4
s = Solution()
f = s.duplicates(m,n)
print(f)

({1, 2, 3, 4}, 4)

In [19]:
class Solution:
    def duplicates(self, arr, n=None):
        if n is None:
            n = len(arr)

        if arr == set(range(1, n + 1)):
            return -1
        else:
            return arr

m = {1, 2, 3, 4,1}
s = Solution()
result = s.duplicates(m)
print(result)

-1

In [ ]:
class Solution:
    def reverseWord(self, s: str) -> str:
        return s[::-1]

# Creating an instance of the Solution class
sol = Solution()

# Calling the reverseWord method on the instance
str_reversed = sol.reverseWord("Geeks")
print(str_reversed)

In [30]:
emp_info = {"name":"sai","designation":"Data scientist"}

In [34]:
class Emp:
    def __init__(self,record:dict):
        
        for attr_name,values in record.items():
            setattr(self,attr_name,values)
        
    @classmethod
    def get_object(cls,record):
        return Emp(record)

In [35]:
emp = Emp.get_object(emp_info)

In [36]:
emp.name

'sai'

In [37]:
emp.age = 30

In [38]:
emp.age

30

In [39]:
emp.state

AttributeError: 'Emp' object has no attribute 'state'

In [40]:
emp.state = "Karnataka"

In [41]:
emp.state

'Karnataka'

In [44]:
emp.designation

'Data scientist'

In [50]:
class Sensor:
    def __init__(self,):
        self.sensor1 = 3
        self.sensor = 4
    def to_dict(self,):
        return self.__dict__

In [57]:
s = Sensor()

In [58]:
s.to_dict()

{'sensor1': 3, 'sensor': 4}

In [59]:
s.__dict__

{'sensor1': 3, 'sensor': 4}

In [61]:
class ACSensor:
    def __init__(self,temp_s,humd_s,flow_s):
        self.temp_s = temp_s
        self.humd_s = humd_s
        self.flow_s = flow_s
    def to_dict(self,):
        return self.__dict__

In [63]:
ac = ACSensor(temp_s =10,humd_s = 3, flow_s = 2)

In [64]:
ac

In [66]:
ac.to_dict()

{'temp_s': 10, 'humd_s': 3, 'flow_s': 2}

In [107]:
emp = {"name":["sai","Ram"],"designation":["Data scientist","Data Scientist"]}

In [108]:
import pandas as pd

In [109]:
df = pd.DataFrame(emp)

In [110]:
df

  name     designation
0  sai  Data scientist
1  Ram  Data Scientist

In [111]:
columns = df.columns

In [112]:
columns

Index(['name', 'designation'], dtype='object')

In [113]:
for i in df.values:
    print(i)

['sai' 'Data scientist']
['Ram' 'Data Scientist']

In [116]:
i

array(['Ram', 'Data Scientist'], dtype=object)

In [115]:
dict(zip(columns,i))

{'name': 'Ram', 'designation': 'Data Scientist'}

In [ ]:
## We have dict and we are getting object

In [122]:
for i in df.values:
    record = (dict(zip(columns,i))) ## created dict
    print(record)
    s=Emp.get_object(record) ## created object 
    print(s)
    print(s.__dict__)## created dict from object

{'name': 'sai', 'designation': 'Data scientist'}
<__main__.Emp object at 0x00000293C7243590>
{'name': 'sai', 'designation': 'Data scientist'}
{'name': 'Ram', 'designation': 'Data Scientist'}
<__main__.Emp object at 0x00000293C7260FD0>
{'name': 'Ram', 'designation': 'Data Scientist'}

In [ ]:
yield & return
yield -->
return -->

In [123]:
print(2 * 3 ** 3 % 7)

5

In [124]:
2var = 1
print(2var)

SyntaxError: invalid decimal literal (2265958973.py, line 1)

In [125]:
_var = 3
print(_var)

3

In [126]:
print(2//3)

0

In [127]:
print(3*1**3)

3

In [128]:
print(10/2)

5.0

In [130]:
 x = 5 
print(x > 3 and x < 10)

True

In [132]:
x = 10
x += 5

In [133]:
print(x)

15

In [135]:
str = 'Python Interview' 
print(str[::-1])

weivretnI nohtyP

In [136]:
x = 7 ** 2
print(x)

49