In [11]:
a=10
if a==10:
    print("this is my first condition")

this is my first condition

In [12]:
# = ----> asign
# == -----> compare

In [13]:
a=10
if a==11:
    print("this is my first condition")

In [14]:
a=10
if a>5:
    pass

In [15]:
a=10
if a>8:
    print("print this if condtion is true")

print this if condtion is true

In [16]:
a=10
if a<10:
    print("print this if condition is true")

In [17]:
a=10
if a != 11:
    print("my condition is false")
else:
    print("print this")

my condition is false

In [18]:
a=10
if a == 11:
    print("my condition is false")
else:
    print("print this")

print this

In [19]:
a=10
if a==12:
    print("here we are trying to compare 10 with 12")
elif a==11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [20]:
price = 500
if price > 500:
    print("may be i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")
else price == 500:
    print("dont know")

SyntaxError: invalid syntax (Temp/ipykernel_8632/1007651267.py, line 6)

In [21]:
price = 500
if price > 500:
    print("may be i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")
else:
    print("dont know")

i will be able to buy a jacket

In [22]:
price = 500
if price > 500:
    print("may be i wont be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price ==500:
    print("for sure i will be able to buy")
else:
    print("dont know")

for sure i will be able to buy

In [23]:
price > 500

False

In [24]:
price < 500

False

In [25]:
price ==500

True

In [26]:
l=[1,2,3,4,5,6]
2 in l

True

In [27]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

do not perform this task

In [28]:
60 in l

False

In [29]:
l

[1, 2, 3, 4, 5, 6]

In [30]:
if 1 in l:
    print("thy do addition")
elif 2 in l:
    print("thy do subtraction")
elif 3 in l:
    print("thy do mulit")

thy do addition

In [31]:
## if first condition is true it will execute,
##it will not go to other condition 
#and it will come out of the statment.

In [32]:
if 10 in l:
    print("thy do addition")
elif 2 in l:
    print("thy do subtraction")
elif 3 in l:
    print("thy do mulit")
if 4 in l:
    print("this is new stat")

thy do subtraction
this is new stat

In [33]:
a= 400

In [34]:
b  = int(input())

5

In [35]:
b

5

In [36]:
type(b)

int

In [37]:
price = int(input())
if price < 500:
    print("i will be able buy something")
    if price < 400:
        print("i will able buy a jacket")
    elif price < 300:
        print(" i will be able to buy a shirt")
        if price<200:
            print("i would like to do something")
    else:
        print("i wont be able to buy anything")
else:
    print('i wont be able to buy anything with this price tag')
    if price >500:
        print("lets try something else")

300
i will be able buy something
i will able buy a jacket

In [38]:
marks = int(input())
if marks <600:
    print("no gre")
    if marks<500:
        print("tofeel")
    if marks<400:
        print("try something else")
    else:
        print("you got tofeel")
else:
    print("you got gre congratulations")

200
no gre
tofeel
try something else

In [39]:
val = float(input("enter a floating number"))
if val >=0:
    if val ==0:
        print("entered value is zero")
    else:
        print("enter value is a postive number")
else:
    print("enter number is negative number")

enter a floating number600
enter value is a postive number

### mulitiple conditions

In [ ]:
a = 10
if a<10 and a==10:
    print("try to do something")

In [ ]:
#or 
0 0 -->0
0 1---->1
1 0---->1
1 1----->1

In [ ]:
#and
0 0 -->0
0 1--->0
1 0--->0
1 1--->1

In [40]:
a ="sudh"
if a == "sudh" and a=="sudh":
    print("this is sudh")

this is sudh

In [41]:
a ="sudh"
if a == "sudh" or a=="sudh":
    print("this is sudh")

this is sudh

In [42]:
a=10
b=11
c=12
d=13
if a ==9 and b==11 and c==12 and d==13:
    print("lets do something ")

In [43]:
a=10
b=11
c=12
d=13
if a ==9 or b==11 and c==12 and d==13:
    print("lets do something ")

lets do something

In [44]:
d = {'key1':"value","key2":"sudh","key3":"ineuron"}

In [45]:
if d['key1']=="value" and d["key2"]=="Sudh" and d["key3"]=="ineuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [46]:

d["key1"]

'value'

In [47]:
l=[1,2,3,4,5,"sudh",234.45]

In [48]:
l[0]

1

In [49]:
l[2:5]

[3, 4, 5]

In [50]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i +str(1))
    else:
        print("error")

2
3
4
5
6
sudh1
235.45

In [51]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [52]:
a=[9,8,7,6,5,4,3,2,10]
for i in a:
    print(i)

9
8
7
6
5
4
3
2
10

In [53]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [57]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [58]:
l1

[1, 2, 3, 4, 5]

In [59]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i +str(1))
    elif type(i)==float:
        print(i+1)
    else:
        print("error")

2
3
4
5
6
sudh1
235.45

In [60]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [61]:
str(1)

'1'

In [62]:
for i in l:
    if type(i)==str:
        print(i)

sudh

In [63]:
l=[1,2,3,4,5,"car",5,6,7]
for i in l:
    if type(i)==int:
        print(i)

1
2
3
4
5
5
6
7

In [64]:
l=[1,2,3,4,4546,56,"sudh"]
for i in l:
    if type(i)==str:
        #if i == "d":
            #break
        print(i)

sudh

In [65]:
a=[1,2,3,4,"ck",2020.12]
for i in a:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))
    elif type(i)==float:
        print(i+float(1))

2
3
4
5
ck1
2021.12

In [66]:
l

[1, 2, 3, 4, 4546, 56, 'sudh']

In [81]:
l1=[]
for i in l:
    if type(i)==int:
        l1 = l1+[i]
    print(l1)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 4546]
[1, 2, 3, 4, 4546, 56]
[1, 2, 3, 4, 4546, 56]

In [77]:
l1

[1, 2, 3, 4, 4546, 56]