In [1]:
l=[1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l:
    pass

In [4]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [5]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself the it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [7]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete istelf")

1
2
3

In [8]:
s="sudhanshu"
for i in s:
    if i =='z':
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [9]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [10]:
b = {4,5,6,7,7,7,7,7,7,7,8,"sudh"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [13]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [14]:
d = {"key1":"sudh","content":"ami@gmail.com","position":"xyz"}

In [15]:
for i in d:
    print(i)

key1
content
position

In [16]:
for i in d:
    print(d[i])

sudh
ami@gmail.com
xyz

In [17]:
d["key1"]

'sudh'

In [18]:
d

{'key1': 'sudh', 'content': 'ami@gmail.com', 'position': 'xyz'}

In [19]:
for i in d:
    print(i,":",d[i])

key1 : sudh
content : ami@gmail.com
position : xyz

In [20]:
range(9)

range(0, 9)

In [21]:
# range---> to generate the dataset

In [22]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [24]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [26]:
list(range(0,9,-1))

[]

In [27]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [29]:
list(range(4))

[0, 1, 2, 3]

In [30]:
n=3
for i in range(n):
    for  j in range(i,n-1):
        print(" " *len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print("\n")

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [31]:
t=(3,23,45,67,2,4,5,6)

In [32]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [34]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [35]:
t.index(45)

2

In [36]:
t=(3,23,45,67,2,4,5,6)

In [37]:
i=0
for v in t:
    print(i,v)
    i=i+1

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [38]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [39]:
s ="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [40]:
s

'ineuron'

In [41]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [42]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [43]:
d

{'key1': 'sudh', 'content': 'ami@gmail.com', 'position': 'xyz'}

In [44]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('content', 'ami@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [45]:
l=["sudh","kumar",34567,"ami@gmail.com",345,34567]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
print(l1)

[34567, 345, 34567]

In [46]:
d={1:345656,"name":"sudh","email":"ami@gmail.com",234:"fddvdhv","43":"sdgdhg",234:"3456"}
for i,j in d.items():
    if type(i)==int:
        print(i,":",j)

1 : 345656
234 : 3456

In [47]:
d={1:345656,"name":"sudh","email":"ami@gmail.com",234:"fddvdhv","43":"sdgdhg",234:"3456"}
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 345656
234 : 3456

In [48]:
s="aaaabbccd"
count=0
for i in s:
    print(i,s.count(i))

a 4
a 4
a 4
a 4
b 2
b 2
c 2
c 2
d 1

In [49]:
type(s)

str

In [50]:
set(s)

{'a', 'b', 'c', 'd'}

In [51]:
s.count('a')

4

In [52]:
for i in set(s):
    print(i,":",s.count(i))

c : 2
b : 2
d : 1
a : 4

In [53]:
i = 3453465446435
for j in i:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
str(i)

In [ ]:
for j in str(i):
    print(int(j),type(int(j)))

In [ ]:
type(j)

In [ ]:
t=("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"kumar"})
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k == 3 or v==3:
                print(v)
                print(k)

In [ ]:
d={4:5,"key1":"sudh","key2":"kumar"}
for i in d.items():
    print(i)

In [ ]:
d={4:5,"key1":"sudh","key2":"kumar"}
for i,j in d.items():
    print(i,j)

In [ ]:
d.items()

In [ ]:
#simillar

In [ ]:
a=10
b=11
c=30

In [ ]:
a,b,c = 10,20,30

In [ ]:
a,b,c = (10,20,30)

In [ ]:
#task

In [54]:
#1.
n=4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [55]:
x=int(input("enter num"))
print()
for i in range(x):
    print("ineuron "*(i+1))

enter num6

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron

In [56]:
#2
n=3
for i in range(n):
    print("   "*(n-i-1)+"ineuron "*(i+1))
for j in range(n-1,0,-1):
    print("   "*(n-j)+"ineuron "*(j))

      ineuron
   ineuron ineuron
ineuron ineuron ineuron
   ineuron ineuron
      ineuron

In [57]:
x=int(input("enter num"))
for i in range(x):
    if i<=3:
        n=i
    else:
        n=x-i
    print(("ineuron "*n).center(50," "))

enter num6

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [58]:
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineuron "*n).center(50," "))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [59]:
#3 extract all list entities
#4 extract all dict entites
#5 extract all tuple
#6 extract all numerical data it may be part of dict key and values
#7 try to give summation of all numeric data
#8 try to filter out all the odd values out of all numeric data which is aprt of list
#9 try to extract "ineuron" out of this data
#10 try to find out a number of occurance of all the data
#11 try to find out number or key in dict element
#12 try to filter out all th string data
#13 try to find out alphanum in data
#14 try to find out multiplication of all the indivisual collections inside dataset
#15 try to unwrap all the collection inside collection and create a flat list
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,45]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

In [60]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience']

In [61]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [62]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [63]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k) == int or type(v)==int:
                l1.append(v)
                l1.append(k)
                
                #print(v)
                #print(k)

In [64]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 6, 3, 8, 7]

In [65]:
d = {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8}

In [66]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [67]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [68]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [69]:
sum(l1)

156

In [70]:
for i in l1:
    if i%2==0:
        pass
    else:
        if i%2==1:
            print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [71]:
l1=[]
for i in l:
    if type(i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if j == "ineuron":
                l1.append(j)
    if type(i)==dict:
        for k in d.items():
            for g in k:
                if g == "ineuron":
                    l1.append(g)

In [72]:
l1

['ineuron', 'ineuron']

In [73]:
l1=[]
for i in l:
    if type(i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == int or type(j)==str:
                l1.append(j)
    if type(i)==dict:
        for k in d.items():
            for g in k:
                if type(g) == int or type(g)==str:
                    l1.append(g)

In [74]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'datascience']

In [75]:
set(l1)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'datascience',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [76]:
for i in set(l1):
    print(i,":",l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
k2 : 1
ineuron : 2
8 : 1
45 : 1
k3 : 1
sudh : 1
23 : 1
datascience : 1
kumar : 1

In [77]:
d

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [78]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [79]:
for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))

5

In [80]:
for i in l1:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
datascience

In [81]:
for i in l1:
    if type(i)==str:
        if i.isalnum():
             print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
datascience

In [82]:
j=1
for i in l1:
    if type(i)==int:
        j=j*i
print(j)

908605071360000

In [83]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datascience']]

In [90]:
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m=m*j
        print(type(i),m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m =m*n
        print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [91]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datascience']]

In [93]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'datascience']

In [10]:
n= int(input("enter num"))
m=1
for i in range(1,n+1):
    m = m*i
print(m)

enter num5
120

In [17]:
name = input("enter your name")
ans = ""
for alphabet  in name:
    if alphabet in "aeiou" or alphabet in"AEIOU":
        continue
    ans = ans + alphabet
 
ans

enter your namesairam

'srm'

In [27]:
str1 = "sairam" ##sequence
lst = ['s','a','i','r','a','m'] #sequence
tup = ('s','a','i','r','a','m')  #sequence
set1 = {'m','a','y','a','n','k'}  #set is a iterbale, not a sequence

In [28]:
for i in str1:
    print(i)

s
a
i
r
a
m

In [29]:
for i in lst:
    print(i)

s
a
i
r
a
m

In [30]:
for i in tup:
    print(i)

s
a
i
r
a
m

In [31]:
for i in set1:
    print(i)

n
m
a
k
y

Range function

range with 1 argument

In [33]:
range(5)

range(0, 5)

In [35]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [38]:
len(list(range(5)))

5

In [3]:
print(list(range(2, 8, 2)))

[2, 4, 6]

In [4]:
x = 5 
if x > 10:
    print('A') 
elif x < 10: 
    print('B')

B

In [5]:
 x = 5 
x += 3 
x *= 2

In [6]:
print(x)

16

In [7]:
 print('abc' + str(3))

abc3

In [8]:
x = 7 
y = 2 
print(x // y)

3

In [1]:
 for i in range(3): 
        print(i)

0
1
2

In [2]:
for i in range(1, 5, 2): 
    print(i)

1
3

In [3]:
for i in range(2, 8, 2):
    print(i)

2
4
6

In [4]:
 for char in 'hello': 
        print(char)

h
e
l
l
o

In [9]:
n = 4
for outerloop in range(n):
    for innerloop in range(n):
        print(outerloop + 1,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [10]:
n = 4
for outerloop in range(n):   # will give how many row to print 
    for innerloop in range(outerloop +1):
        print(outerloop + 1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [15]:
n=4
for outerloop in range(n):
    for innerloop in range(n-outerloop):
        print(outerloop,end = " ")
    print()

0 0 0 0
1 1 1
2 2
3

In [22]:
x = [1,2,3,4,5,6,7,8]
y = 0 
for i in x:
    y = y + i
    print(y)

1
3
6
10
15
21
28
36

In [2]:
x = ["a","b","c","d","e"]
if "b" in x:
    print("yes")
else:
    print("no")

yes

In [3]:
for i in x:
    if i == "b":
        print("yes")
    else:
        print("no")

no
yes
no
no
no

In [5]:
for i in x:
    print(i)

a
b
c
d
e

In [6]:
len(x)

5

In [10]:
for i in range(len(x)):
    print(i,x[i])

0 a
1 b
2 c
3 d
4 e

In [23]:
x

['a', 'b', 'c', 'd', 'e']

In [17]:
x[0:2]

['a', 'b']

In [18]:
x[0::2]

['a', 'c', 'e']

In [24]:
y =['f','g','a','b']

In [25]:
if x == y:
    print(yes)
else:
    print("no")

no

In [29]:

for i in x:
      if i in y:
            print(i)

a
b

In [35]:
num = [1,2,3,4,5,6,7,8,9,10]
z = []
for i in num:
    if i % 2 ==0:
        z.append(i)
    else:
        print("odd")
print(z)

odd
odd
odd
odd
odd
[2, 4, 6, 8, 10]

In [36]:
x[1]=10

In [37]:
x

['a', 10, 'c', 'd', 'e']

In [38]:
a = num[0]* num[1]

In [39]:
a

2

In [55]:
m = "swap case"
a = x.upper()

In [57]:
if m == s and m == c:
    print(m.lower())

NameError: name 's' is not defined

In [71]:
m = "swap case"
output = ""
for i in m:
    if i.isupper():
        output = output + i.lower()
    elif i.islower():
        output = output + i.upper() 
    else:
        output = output+i
print(output)

SWAP CASE

In [82]:
m = "swap case"
output = ""
for i, char in enumerate(m):
    if i == 0:
        output += char.lower()
    elif char.islower():
        output += char.upper()
    else:
        output += char.lower()
print(output)

sWAP CASE

In [106]:
list = [1,2,3,4,5,6,7,8,9,10]

In [111]:
k = ["even" if i %2 == 0 else "odd" for i in range(10)]

In [112]:
k

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [102]:
k = [True for i in range(10) if i %2 == 1]

In [103]:
k

[True, True, True, True, True]

In [113]:
string = "G1"
firstList = ["Harsha", "Krishna", "Gowtham", "Vasanth Kumar", "Raghav"]
 
list_comp = [[k for k in firstList] if i.isalpha(
) else [j for j in range(1, 6)] for i in string]
 
print("Using the nested comprehension in the Python along with the if /else ")
for i in list_comp:
    print(i)

Using the nested comprehension in the Python along with the if /else
['Harsha', 'Krishna', 'Gowtham', 'Vasanth Kumar', 'Raghav']
[1, 2, 3, 4, 5]

In [120]:
m = "swap case"
output = ""
capitalize_next = True

for i in m:
    if i.isupper():
        if capitalize_next:
            output += i.lower()
        else:
            output += i.upper()
    elif i.islower():
        if capitalize_next:
            output += i.upper()
        else:
            output += i.lower()
    else:
        output += i
    
    if i != ' ':  # Check if the current character is not a space
        capitalize_next = not capitalize_next

print(output)

SwAp CaSe

In [119]:
m = "swap case"
output = m[0].lower() + m[1:].swapcase()
print(output)

sWAP CASE

In [117]:
m.capitalize()

'Swap case'

In [118]:
m.upper()

'SWAP CASE'

In [5]:
x = [10,2,3,5,6,8,9,13,45,67]
x.sort(reverse=True)
print(x)

[67, 45, 13, 10, 9, 8, 6, 5, 3, 2]

In [4]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort(reverse=True)
print(my_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [6]:
tup = (1,2,3,4,"sai",True,3.47)

In [7]:
type(tup)

tuple

In [8]:
tup[0]

1

In [9]:
tup.count("sai")

1

In [10]:
tup.index("sai")

4

In [11]:
tup[4] = "jhon"

TypeError: 'tuple' object does not support item assignment

In [15]:
tup

(1, 2, 3, 4, 'sai', True, 3.47)

In [13]:
## industry example for tuple:

build software: admin pannel access 
    tup = ("sai","ram") ---> tuple is imutable/ can't change the value once assigned

In [16]:
tup = (1, 2, 3, 4, 'sai', True, 3.47, "ram")

In [17]:
tup

(1, 2, 3, 4, 'sai', True, 3.47, 'ram')

In [19]:
tup.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [20]:
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [21]:
tup.update("jack")

AttributeError: 'tuple' object has no attribute 'update'

In [27]:
 y = list(tup)

In [28]:
type(y)

list

In [29]:
y

[1, 2, 3, 4, 'sai', True, 3.47, 'ram']

In [30]:
y.pop()

'ram'

In [31]:
y.reverse()

In [32]:
y

[3.47, True, 'sai', 4, 3, 2, 1]

In [33]:
y.count(3.47)

1

In [34]:
y.insert(4,"sairam")

In [35]:
y

[3.47, True, 'sai', 4, 'sairam', 3, 2, 1]

In [37]:
z= y.copy()

In [38]:
z

[3.47, True, 'sai', 4, 'sairam', 3, 2, 1]

In [39]:
z.append("janu")

In [40]:
z

[3.47, True, 'sai', 4, 'sairam', 3, 2, 1, 'janu']

In [41]:
x= [1,2,3,4,5,6,7,8,9,10]  # we will get the values
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
for i in range(x):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [44]:
for i in range(len(x)):  # we will get index
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(10):
    print(i,x[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [47]:
y = [1,2,"sai","ram"]

In [48]:
for i in x:
    if i in y:
        print(i)

1
2

In [49]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
y = 0
for i in x:
    y = i + y
print(y)

55

In [53]:
large = x[0]
for i in x:
    if i >large:
        large = i 
print(large)

10

In [54]:
x.index(9)

8

In [55]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
y = sum(i for i in x)
print(y)

55

In [60]:
y =sum([int(i) for i in x])

In [61]:
print(y)

55

In [62]:
info = {"name" : "sai",
       "email": "sai@gmail.com",
       "password":"1234"}

In [64]:
info["name"]

'sai'

In [71]:
info["email"]

'sai@gmail.com'

In [81]:
print(info.get("phonenumber"))

None

In [86]:
info.update({"phonenumber":9865734})

In [87]:
info

{'name': 'sai',
 'email': 'sai@gmail.com',
 'password': '1234',
 'phonenumber': 9865734}

In [65]:
for i in info:
    print(i)

name
email
password

In [69]:
for i,j in info.items():
    print(i, j)

name sai
email sai@gmail.com
password 1234

In [70]:
for i in info.values():
    print(i)

sai
sai@gmail.com
1234

In [83]:
info1 = {"ineuron": {"name":"Bappy", "Age":22},
         "dswithbappy": {"name":"dswith","age":45}
        }

In [84]:
info1["ineuron"]["name"]

'Bappy'

In [85]:
info1["dswithbappy"]["age"]

45

In [89]:
info1.get("ineuron").get("name")

'Bappy'

In [90]:
info.keys()

dict_keys(['name', 'email', 'password', 'phonenumber'])

In [91]:
info.keys()

dict_keys(['name', 'email', 'password', 'phonenumber'])

In [92]:
info.items()

dict_items([('name', 'sai'), ('email', 'sai@gmail.com'), ('password', '1234'), ('phonenumber', 9865734)])

In [97]:
temp = info1.items()

In [98]:
for i in temp:
    print(i)

('ineuron', {'name': 'Bappy', 'Age': 22})
('dswithbappy', {'name': 'dswith', 'age': 45})

In [101]:
for i in temp:
    print(type(i))

<class 'tuple'>
<class 'tuple'>

In [99]:
type(temp)

dict_items

In [107]:
student_marks = {
    "class1":[2,3,4,5,6,7],
    "class2":(4,5,6,7,8,9)
}

In [108]:
a = student_marks["class1"]

In [109]:
print(a)

[2, 3, 4, 5, 6, 7]

In [110]:
print(type(a))

<class 'list'>