In [9]:
def test(a,b):
    '''this is my function for concatination or addition'''
    return a+b

In [10]:
test(10,20)

30

In [11]:
test("sudh","kumar")

'sudhkumar'

In [12]:
test(a=9,b=6)

15

In [13]:
test(b=30,a=34)

64

In [14]:
print()

In [15]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [16]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [17]:
def test(*a):
    return a

In [18]:
test(34,456)

(34, 456)

In [19]:
test(4,5,6,7,8,9,0,2,3,2,1)

(4, 5, 6, 7, 8, 9, 0, 2, 3, 2, 1)

In [20]:
def test1(*args):
    return args

In [21]:
test1(34,56,78)

(34, 56, 78)

In [22]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [23]:
test5(2,3,4,5,67,[4,5,6,7,8])

[2, 3, 4, 5, 67, [4, 5, 6, 7, 8]]

In [24]:
def test6(a,b,c,d,*n):
    return a,b,c,d,n

In [25]:
test6(1,2,3,4,5,6,78,67,8)

(1, 2, 3, 4, (5, 6, 78, 67, 8))

In [26]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [27]:
test7(1,2,3,4,5,6,7,8,9, a=10,b=11,c=12,d=13,e=14)

((1, 2, 3, 4, 5, 6, 7, 8, 9), 10, 11, 12, 13, 14)

In [28]:
#**----->use for key & value

In [29]:
def test8(**kwargs):
    return kwargs

In [30]:
test8(4,5,6)

TypeError: test8() takes 0 positional arguments but 3 were given

In [31]:
test8(b=5,c=6,d=4,e=78,n=[1,2,3,4])

{'b': 5, 'c': 6, 'd': 4, 'e': 78, 'n': [1, 2, 3, 4]}

In [32]:
d={'b': 5, 'c': 6, 'd': 4, 'e': 78}

In [33]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [34]:
def test9(*m,**s):
    return m,s

In [35]:
test9(345,45,56,78,5,6,7,b=5,c=8,d=9)

((345, 45, 56, 78, 5, 6, 7), {'b': 5, 'c': 8, 'd': 9})

In [36]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [37]:
test10(2,3,4,5,6,6)

26

In [38]:
test10(2,3,4)

9

In [39]:
def test10(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [40]:
test10(4,5,6,6,7,87,8)

3507840

In [41]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n-i
    return n

In [42]:
test10(4,5,6,6,7,87,8)

-123

In [43]:
##lambda fun or annanomus

In [45]:
n=lambda a,b : a+b

In [46]:
n

In [47]:
n(4,5)

9

In [48]:
def test5(a,b):
    return a+b

In [49]:
test5(4,5)

9

In [50]:
n(5,6)

11

In [51]:
b=lambda *sudh:sudh

In [52]:
b

In [53]:
b(45,5,6,7,8,9)

(45, 5, 6, 7, 8, 9)

In [54]:
def f1(*a):
    return a

In [55]:
f1(4,5,6,7)

(4, 5, 6, 7)

In [56]:
t=(3,4,5,5,6,7,7,8,8)
l=[]
for i in t:
    l.append(i)

In [57]:
l

[3, 4, 5, 5, 6, 7, 7, 8, 8]

In [ ]:
#list compression

In [58]:
[i for i in t]

[3, 4, 5, 5, 6, 7, 7, 8, 8]

In [59]:
s="sudh"

In [60]:
[i for i in s]

['s', 'u', 'd', 'h']

In [63]:
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
l=[]
for i in range(10):
    l.append(i*i)

In [67]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
l=lambda *x:[i**2 for i in x]

In [71]:
l(4,5,6,7,8,9)

[16, 25, 36, 49, 64, 81]

In [256]:
test14(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [257]:
def test14(**n):
    count = 0
    print(n)
    print(n.values())
    for i in n.values():
        if type(i)==str or type(i)==list:
            count=count+1
    return count

In [88]:
test14(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [89]:
def test15(**kwargs):
    return list(kwargs.values())

In [90]:
test15(a=7,b="sudh",c=345,d="sudh",l=[2,3,4,45,"sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [91]:
##task

In [92]:
#1. try to print a prime no in b/w 1 to 1000
def f1(n):
    for i in range(1000):
        if i%2==1:
            print(i)

In [93]:
f1(1000)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599
601
603
605
607
609
611
613
615
617
619
621
623
625
627
629
631
633
635
637
639
641
643
645
647
649
651
653
655
657
659
661
663
665
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
701
703
705
707
709
711
713
715
717
719
721
723
725
727
729
731
733
735
737
739
741
743
745
747
749
751
753
755
757
759
761
763
765
767
769
771
773
775
777
779
781
783
785
787
789
791
793
795
797
799
801
803
805
807
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
855
857
859
861
863
865
867
869
871
873
875
877
879
881
883
885
887
889
891
893
895
897
899
901
903
905
907
909
911
913
915
917
919
921
923
925
927
929
931
933
935
937
939
941
943
945
947
949
951
953
955
957
959
961
963
965
967
969
971
973
975
977
979
981
983
985
987
989
991
993
995
997
999

In [94]:
#2. try to write a fun which is equivalent to print fun in python

In [95]:
def f1(a,b):
    return a+b

In [96]:
f1(3,4)

7

In [97]:
#3 try to write a fun which is replica of list append, extend and pop function

In [99]:
x = [10, 20, 30]
y = [40, 50, 60]
x[:0] =y
print(x)

[40, 50, 60, 10, 20, 30]

In [123]:
x = [10, 20, 30]
y = [40, 50, 60]

In [124]:
y[:0]=x

In [125]:
y

[10, 20, 30, 40, 50, 60]

In [119]:
x[:0] = y

In [120]:
x

[40, 50, 60, 10, 20, 30]

In [193]:
lst=[1,2,3,4,5,6,7]

In [208]:
def add_item(lst, x):
    x = x
    x[:0] = lst
    return x

In [209]:
lst = add_item(lst, [8])
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [210]:
def pop_item(lst):
    return lst[:-1]

In [211]:
pop_item(lst)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#4.Try to write a lambda function which can return a concatination of all the string that we will pass

In [213]:
l=lambda x,y : x+y

In [214]:
l("sai","ram")

'sairam'

In [252]:

x=lambda *args:"".join([i for i in args])

In [253]:
x("sai","ram")

'sairam'

In [ ]:
#5. Try to write a lambda function which can return list of square of all the data between 1-100

In [218]:
l=lambda x:[i*i for i in range(x)]

In [219]:
l(100)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [ ]:
#6.Try to write a 10 Different different example of lambda function with a choice of your taks

In [220]:
#1
l=lambda *x:[i*2 for i in x]

In [221]:
l(1,2,3,4,5)

[2, 4, 6, 8, 10]

In [224]:
#2
l=lambda x:[i for i in range(x) if i%2==0]

In [225]:
l(10)

[0, 2, 4, 6, 8]

In [234]:
#3
l=lambda y: y*y*y

In [235]:
l(3)

27

In [237]:
#7 Try to wwrite a funtion whihc can perform a read operation from .txt file

In [243]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [249]:
x=[1,2,3,4,5,6,7,8,9,10]
even_count,odd_count=0,0
for i in x:
    if i%2==0:
        even_count=count+1
    else:
        odd_count=odd_count+1
print("even num in the list:",even_count)
print("odd num in the list:",odd_count)

even num in the list: 6
odd num in the list: 5

In [250]:
x=[1,2,3,4,5,6,7,8,9,10]
count=0
for i in x:
    if i%2==0:
        count=count+1
print("even num in the list:",even_count)

even num in the list: 6

In [260]:
l=[]
sum=0
for i in range(100,200):
    sum=sum+i
    l.append(sum)

In [259]:
l

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]