1. Convert string to the list

In [10]:
string = "my name is sai,am i am teaching data science"
string.split()

['my', 'name', 'is', 'sai,am', 'i', 'am', 'teaching', 'data', 'science']

2. Remove duplicates from the string

In [21]:
string

'my name is sai, and am i am teaching data science'

In [22]:
words = string.split()

empty_string = []

[empty_string.append(i) for i in words if i not in empty_string]
y = " ".join(empty_string)
print(y)

my name is sai, and am i teaching data science

3. Reverse the give string

In [31]:
string

'my name is sai, and am i am teaching data science'

In [32]:
string[::-1]

'ecneics atad gnihcaet ma i ma dna ,ias si eman ym'

In [43]:
y = ""
for i in string:
    y = i+y
print(y)

ecneics atad gnihcaet ma i ma dna ,ias si eman ym

In [42]:
m = []
for i in string.split():
    m.append(i[::-1])
print(m)

['ym', 'eman', 'si', ',ias', 'dna', 'ma', 'i', 'ma', 'gnihcaet', 'atad', 'ecneics']

In [51]:
k = string.split()
l = []

for i in reversed(k):
    l.append(i)
n = " ".join(l)
print(n)

science data teaching am i am and sai, is name my

In [55]:
k = string.split()
l = []

for i in range(len(k)-1,-1,-1):
    l.append(k[i])
n = " ".join(l)
print(n)

science data teaching am i am and sai, is name my

4. Array

In [56]:
import numpy as np

In [60]:
arr = (np.array([1,2,3,4,5]))

In [61]:
arr

array([1, 2, 3, 4, 5])

In [67]:
x = []
for i in range(1):
    a = arr[::-1]
    x.append(a)
print(x)

[array([5, 4, 3, 2, 1])]

In [ ]:
# 5. Give me the function which can give the sort the given list

In [78]:
my_list = [64,83,45,23,78,92]
my_list.sort()

In [79]:
my_list

[23, 45, 64, 78, 83, 92]

In [85]:
my_list = [64,83,45,23,78,92]

In [95]:
def sort_fun(my_list):
    for i in range(len(my_list)):
        for j in range(len(my_list)-1):
            if my_list[j] > my_list[j+1]:
                my_list[j],my_list[j+1] = my_list[j+1],my_list[j]
    return my_list

# print("sorted list",my_list)
a = sort_fun(my_list)

In [96]:
print(a)

[2, 3, 5, 6, 8, 98]

# 6  time complexity of the above code
#  time complexity is O(n^2)
O -->  represents the asymptotic upper bound 

The outer loop runs 

n times, where 
n is the number of elements in the list.
Inside the outer loop, the inner loop also runs 
n times for each iteration of the outer loop.
Within the inner loop, there are constant-time operations (comparisons and swapping) performed n square times in the worst case.

##7 Can you give me mutablity and immutablity in python

In [100]:
my_list = [1,2,3,4,5]
my_list[1] = 6

In [101]:
my_list

[1, 6, 3, 4, 5]

In [102]:
my_list = (1,2,3,4,5)

In [103]:
my_list[1]

2

In [104]:
my_list[1]=9

TypeError: 'tuple' object does not support item assignment

In [107]:
string = "Hello"

In [108]:
string[1] = 'p'

TypeError: 'str' object does not support item assignment

Immutable objects are safer to use in multithreaded environments because their state cannot be changed.
Mutable objects are generally less memory efficient compared to immutable objects because
modifying them often involves creating new objects or modifying existing ones in place.
Mutable objects are often used when you need to represent a collection of items that can change over time, 
whereas immutable objects are useful when you want to ensure that the object's state remains constant.

In [134]:
list1 = ['w','a','w','b']
list2 = ['e','','ritting','log']

In [135]:
list3 = []
for i in range(len(list1)):
               list3.append(list1[i]+list2[i]) 
print(list3)

['we', 'a', 'writting', 'blog']

In [139]:
for m,n in zip(list1,list2):
    print(m+n)

we
a
writting
blog

In [137]:
[i+j for i,j in zip(list1,list2)]

['we', 'a', 'writting', 'blog']

#7 is removing first item or last item taking in same time in the pysthon list

Ans :  Python list do not take the same time.

In [156]:
x = [1,2,4,5,7,8,9]

In [157]:
x.pop()

9

O(n)--> strating element
O(1)--> Last element 

O(1) represents constant time complexity, where the time taken is independent of the input size.
O(n) represents linear time complexity, where the time taken is directly proportional to the input size.

Removing the last item from a list (x.pop()) is faster than removing the first item (x.pop(0)), 
especially for large lists, because it does not require shifting elements.

In [158]:
x.pop(0)

1

In [159]:
x

[2, 4, 5, 7, 8]

## 8. Minimun value in the dict

In [233]:
my_dict = {'a':10,'b':5,'c':8,'d':3}

In [195]:
min(my_dict.values())

3

In [196]:
min(my_dict.keys())

'a'

In [227]:
min_key = None
min_value = float('inf')

In [228]:
min_key

In [229]:
min_value

inf

In [287]:
min_key, min_value = next(iter(my_dict.items()))

In [288]:
for i, j in my_dict.items():
    if j < min_value:
        min_value = j
    if i < min_key:
        min_key = i

In [289]:
print(min_key)
print(min_value)

a
3

#9 i want shuffle the element inside  the list

In [281]:
list = ["python","is","Easy","if","sunny","teaching"]

In [269]:
import random
random.shuffle(list)

In [268]:
list

['python', 'Easy', 'sunny', 'teaching', 'is', 'if']

In [270]:
list

['sunny', 'is', 'Easy', 'teaching', 'if', 'python']

#10. Remove all the white spaces in a string

In [254]:
string = " C O D E "

In [255]:
string.replace(' ','')

'CODE'

In [271]:
"".join(string.split())

'CODE'

# 11. write a python program to find the secong largest number in the given list

In [300]:
list = [2,4,6,89,45,67]
sorted_number = sorted(list,reverse=True)
second_largest = sorted_number[1]
print(second_largest)

67

In [318]:
list = [2,4,6,89,45,67]

In [311]:
list.sort()
list

[2, 4, 6, 45, 67, 89]

In [313]:
list.reverse()

In [314]:
list

[89, 67, 45, 6, 4, 2]

In [315]:
list[1]

67

In [320]:
sorted_numbers = sorted(list, reverse=True)

In [321]:
second_largest = sorted_numbers[1]